body{
  font-family: 'Raleway', sans-serif;
}
.header-section{
  padding-top: 2px;
}
.header-section p{
  color: #7f7567; 
  font-size: 1em;
}
.navbar {
  margin: 0;
  
  
}

#countdown li{
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  padding: 1em;
  font-weight: 900;
  color: black;
  
  
}
#countdown li span{
  display: block;
  font-size: 3em;

  
}
.nav-item{
  margin-right: 20px;
  font-size: 0.8em;
  color: black;
  font-weight: 500;
  
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.info-section{
  margin-top: 0;
  padding:0;
  
}


.schedule-table {
  border: 1px solid white;
  width:100%;
  padding: 5px;
  font-size: 1em;
  
}
.schedule-table  tr,td{
  
  padding: 7px;
  
  
}
.imagetitle{
  color:white; 
  font-weight: bold; 
  font-size: 6vw;
  text-shadow: 0 0 10px black;
}
.imagetitle2{
  color:white; 
  font-weight: bold; 
  font-size: 3vw;
  text-shadow: 0 0 10px black;
}
.landingimage {
 width: 100%;
 margin:0;
 padding:0;

}
.uni-section{
  margin-top: 10px;
  padding: 15px;
  padding-top: 25px;
  
}
.committeetitles{
  font-weight: bold;
  color:#daa30e;
  font-size: 1.5em;;
  /*padding:0;*/
}
.committee img{
  border-radius: 5px;
  width: 9em;
  height: 9em;
  
}
.venueimg{
   width: 100%;
  max-height: 500px;
  margin:5px;
  
}
.previous-conference-section{
  margin-top: 15px;
  padding:15px;

}
.previous-conference-section img{
  width: 30%;
}
.important-dates-section{
  /*margin: 1% auto;*/
  margin-top: 20px;
}
.timer-section{
  background: white;
  padding: 1.5em;
}
.footer-section {
  background:rgb(73, 72, 72);
  padding: 2em;
  color: #fff;
  
  bottom:0;
  width: 100%;
}
.footer-section a{
  text-decoration: none;
  color: white;
}
.card-img-top {
  border-radius: 50%;
}
.conf-btn{
  width: 100%;
  margin:5px;
  height:11vh;
  padding: 5px;
  font-weight: bold;
}
.conf-btn:hover{
  opacity: 90%;
}
.coming-soon-section{
  text-align: center;
}
.logo{
  max-height: 100%;
}
.logo-link{
  height: 100%;
}
.contacts-section{
  margin: 2%;
  font-size: 1.3rem;
}
.contacts-section a{
  text-decoration: none;
  color: #000;
}
.who-should-attend-section{
  margin-top: 20px;
  margin-bottom: 50px;
}
.workshops-section{
  margin: 1% auto;
}
.tracks-section{
  margin: 1% auto;
}
.tracks-section ul{
list-style: none;
}

.tracks {
  line-height: 2.5em;
}
.schedule-section h3{
  
  font-weight: bold;
  font-size: 1.5em;
  
  padding:10px;
  margin: 10px;
  
}
.schedule-section{
  padding:0;
  margin:0;
}
@media (max-width: 1000px) {
  .nav-item {
    font-size: medium;
  }
}
@media (max-width: 770px){
  .logo{
    height: 100px;
  }
  .logo-link{
    text-align: center;
  }

}
@media (max-width: 700px) {
  .nav-item {
    font-size: medium;
  }
  .coming-soon-section {
    padding: 8em;
    text-align: center;
  }
  .coming-soon-section h1 {
    font-size: 3rem;
  }
  .committee-section {
    margin-bottom: 2%;
  }
  .landingimage {
    /*width:100%;*/
    width: 100%;
    
  
  }
  .important-dates-section{
   padding:5px;
  }
  
}

.conf-title{
  text-align: left; padding: 5px; padding-top:15px;
}
#flex {
  display: flex;
  flex-direction: row;
}
#a {order:1;}
#b {order:2;}
#c {order:3;}
@media (max-width: 770px){
  .conf-title{
    text-align: center;
  }
  #a {order:2;}
#b {order:1;}
#c {order:3;}
}